In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
from sqlalchemy import text, create_engine

from env import get_connection

We can create dataframes from..
- Dictionaries
- SQL queries!

In order to run a SQL query against Codeup's database, we need a number of things:
- A URL with our credentials and desired database
- A SQLAlchemy engine object created on the URL
- A SQL query as a text object
- Run pd.read_sql() with the query and the engine.connect()

We will use the farmers_market database on Codeup's SQL server.

We will run the following query:

SELECT *  

FROM customer_purchases  

INNER JOIN product ON customer_purchases.product_id = product.product_id

Boolean masking will not make a triumphant return but it's still relevant!

We can subset our dataframe using .loc and .iloc:
- .loc will use labels to access specific rows/columns
- .iloc will use index positions to access specific rows/columns

We can use the .agg() method to perform a specified aggregate function on one column!

We can pass in a list of columns to aggregate and/or perform a list of aggregate functions!

We can use the .groupby() method to consider the unique values in a column.

We then specify a second column on which to perform some aggregate calculations!

The .transform() method returns an aggregate calculation, where the result is the same length as the dataframe!