In [1]:
%autosave 0

Autosave disabled

In [47]:
import pandas as pd
import numpy as np
from sqlalchemy import text, create_engine

from env import get_connection

We can create dataframes from..
- Dictionaries
- SQL queries!

In [3]:
# Datafrane from a disctionary
pd.DataFrame({'Name':['Edwige', 'Adam', 'Theo', 'Nisha'] , 'Eyewear': ['glasses' , 'glasses' , 'glasses' , 'none']})

     Name  Eyewear
0  Edwige  glasses
1    Adam  glasses
2    Theo  glasses
3   Nisha     none

In order to run a SQL query against Codeup's database, we need a number of things:
- A URL with our credentials and desired database
- A SQLAlchemy engine object created on the URL
- A SQL query as a text object
- Run pd.read_sql() with the query and the engine.connect()

In [4]:
url = get_connection('farmers_market')

In [5]:
engine = create_engine(url)

In [8]:
query = '''

SELECT *
FROM customer_purchases
INNER JOIN product ON customer_purchases.product_id = product.product_id

'''

In [9]:
text_query = text(query)

In [10]:
df = pd.read_sql(text_query, engine.connect())
df.head()

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs
1,1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00,1,Habanero Peppers - Organic,medium,1,lbs
2,1,7,2019-07-03,15,1.53,6.99,0 days 18:41:00,1,Habanero Peppers - Organic,medium,1,lbs
3,1,7,2019-07-03,16,2.02,6.99,0 days 18:18:00,1,Habanero Peppers - Organic,medium,1,lbs
4,1,7,2019-07-03,22,0.66,6.99,0 days 17:34:00,1,Habanero Peppers - Organic,medium,1,lbs

We will use the farmers_market database on Codeup's SQL server.

We will run the following query:

SELECT *  

FROM customer_purchases  

INNER JOIN product ON customer_purchases.product_id = product.product_id

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4221 entries, 0 to 4220
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                4221 non-null   int64
 1   vendor_id                 4221 non-null   int64
 2   market_date               4221 non-null   object
 3   customer_id               4221 non-null   int64
 4   quantity                  4221 non-null   float64
 5   cost_to_customer_per_qty  4221 non-null   float64
 6   transaction_time          4221 non-null   timedelta64[ns]
 7   product_id                4221 non-null   int64
 8   product_name              4221 non-null   object
 9   product_size              4221 non-null   object
 10  product_category_id       4221 non-null   int64
 11  product_qty_type          4221 non-null   object
dtypes: float64(2), int64(5), object(4), timedelta64[ns](1)
memory usage: 395.8+ KB

Boolean masking will not make a triumphant return but it's still relevant!

We can subset our dataframe using .loc and .iloc:
- .loc will use labels to access specific rows/columns
- .iloc will use index positions to access specific rows/columns

In [13]:
df.loc[:, 'vendor_id' : 'transaction_time'].head()

,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time
0,7,2019-07-03,14,0.99,6.99,0 days 17:32:00
1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00
2,7,2019-07-03,15,1.53,6.99,0 days 18:41:00
3,7,2019-07-03,16,2.02,6.99,0 days 18:18:00
4,7,2019-07-03,22,0.66,6.99,0 days 17:34:00

In [21]:
df.loc[5:10, 'vendor_id': 'transaction_time']

,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time
5,7,2019-07-06,4,0.27,6.99,0 days 12:20:00
6,7,2019-07-06,12,3.60,6.99,0 days 09:33:00
7,7,2019-07-06,14,3.04,6.99,0 days 13:05:00
8,7,2019-07-06,23,1.49,6.99,0 days 12:26:00
9,7,2019-07-06,23,2.56,6.99,0 days 12:46:00
10,7,2019-07-10,3,2.48,6.99,0 days 18:40:00

In [19]:
df.iloc[:5, 3:8]

,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id
0,14,0.99,6.99,0 days 17:32:00,1
1,14,2.18,6.99,0 days 18:23:00,1
2,15,1.53,6.99,0 days 18:41:00,1
3,16,2.02,6.99,0 days 18:18:00,1
4,22,0.66,6.99,0 days 17:34:00,1

In [17]:
df.iloc[:5 , :]

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs
1,1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00,1,Habanero Peppers - Organic,medium,1,lbs
2,1,7,2019-07-03,15,1.53,6.99,0 days 18:41:00,1,Habanero Peppers - Organic,medium,1,lbs
3,1,7,2019-07-03,16,2.02,6.99,0 days 18:18:00,1,Habanero Peppers - Organic,medium,1,lbs
4,1,7,2019-07-03,22,0.66,6.99,0 days 17:34:00,1,Habanero Peppers - Organic,medium,1,lbs

We can use the .agg() method to perform a specified aggregate function on one column!

We can pass in a list of columns to aggregate and/or perform a list of aggregate functions!

In [22]:
df.head(1)

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs

In [25]:
df = df.assign(total_cost = df.quantity * df.cost_to_customer_per_qty)

In [30]:
df.total_cost.agg(['mean', 'max','min'] )

mean     16.400648
max     144.000000
min       0.069800
Name: total_cost, dtype: float64

In [31]:
df.columns

Index(['product_id', 'vendor_id', 'market_date', 'customer_id', 'quantity',
       'cost_to_customer_per_qty', 'transaction_time', 'product_id',
       'product_name', 'product_size', 'product_category_id',
       'product_qty_type', 'total_cost'],
      dtype='object')

In [34]:
df[['quantity' , 'total_cost' ]].agg(['mean', 'max','min'])

       quantity  total_cost
mean   2.858112   16.400648
max   20.000000  144.000000
min    0.020000    0.069800

We can use the .groupby() method to consider the unique values in a column.

We then specify a second column on which to perform some aggregate calculations!

In [43]:
df.groupby('product_name').total_cost.agg('mean')

product_name
Apple Pie                     31.404930
Banana Peppers - Jar          11.890672
Cherry Pie                    31.867826
Habanero Peppers - Organic    16.120788
Jalapeno Peppers - Organic    10.749224
Poblano Peppers - Organic      1.591040
Sweet Corn                     2.540638
Whole Wheat Bread             16.962217
Name: total_cost, dtype: float64

In [44]:
df.groupby('product_name').value_counts()

product_name       product_id  product_id  vendor_id  market_date  customer_id  quantity  cost_to_customer_per_qty  transaction_time  product_size  product_category_id  product_qty_type  total_cost
Apple Pie          7           7           8          2019-04-03   9            1.0       18.0                      0 days 16:20:00   10"           3                    unit              18.0          1
                                                                                2.0       18.0                      0 days 17:08:00   10"           3                    unit              36.0          1
                                                      2020-10-07   24           3.0       18.0                      0 days 18:33:00   10"           3                    unit              54.0          1
                                                      2020-10-10   2            1.0       18.0                      0 days 12:59:00   10"           3                    unit              18.0          1
                                                                                2.0       18.0                      0 days 12:49:00   10"           3                    unit              36.0          1
                                                                                                                                                                                                        ..
Whole Wheat Bread  5           5           8          2019-05-22   8            5.0       6.5                       0 days 17:11:00   1.5 lbs       3                    unit              32.5          1
                                                                   9            1.0       6.5                       0 days 18:01:00   1.5 lbs       3                    unit              6.5           1
                                                                                3.0       6.5                       0 days 18:03:00   1.5 lbs       3                    unit              19.5          1
                                                                   11           4.0       6.5                       0 days 17:54:00   1.5 lbs       3                    unit              26.0          1
                                                      2020-10-10   19           5.0       6.5                       0 days 12:20:00   1.5 lbs       3                    unit              32.5          1
Length: 4221, dtype: int64

In [45]:
df.groupby('product_name').total_cost.value_counts()

product_name       total_cost
Apple Pie          18.0          287
                   36.0          172
                   54.0           85
                   72.0           16
                   90.0            7
                                ...
Whole Wheat Bread  19.5          109
                   32.5           84
                   39.0            5
                   45.5            4
                   52.0            1
Name: total_cost, Length: 435, dtype: int64

The .transform() method returns an aggregate calculation, where the result is the same length as the dataframe!

In [46]:
# Woudl have to combine this with the raw df to graph it on
df.groupby('product_name').total_cost.transform('mean')

0       16.120788
1       16.120788
2       16.120788
3       16.120788
4       16.120788
          ...
4216     2.540638
4217     2.540638
4218     2.540638
4219     2.540638
4220     2.540638
Name: total_cost, Length: 4221, dtype: float64

We cna use np.where() to assign values based on a condition!

In [48]:
np.where(df.total_cost > 100, 'big spender' , 'normal person')

array(['normal person', 'normal person', 'normal person', ...,
       'normal person', 'normal person', 'normal person'], dtype='<U13')